<div th:fragment="navbar">
    <nav aria-label="Main navigation" class="navbar navbar-expand-lg fixed-top" id="navbarExample">
        <div class="container">
            <a class="navbar-brand logo-image" th:href="@{/}">
                <img alt="alternative" th:src="@{../static/img/logo.png}"/>
            </a>
            <a class="navbar-brand logo-text" th:href="@{/}">ASPAN</a>

            <button aria-label="Toggle navigation" class="navbar-toggler p-0 border-0" id="navbarSideCollapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#carouselExampleAutoplaying">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="btn-solid-lg navSignUp" th:href="@{/register}">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="creatorNavbar">
    <nav aria-label="Main navigation" class="navbar navbar-expand-lg fixed-top" id="navbarExample">
        <div class="container">
            <a class="navbar-brand logo-image" th:href="@{/}">
                <img alt="alternative" th:src="@{../static/img/logo.png}"/>
            </a>
            <a class="navbar-brand logo-text" th:href="@{/}">ASPAN</a>

            <button aria-label="Toggle navigation" class="navbar-toggler p-0 border-0" id="navbarSideCollapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item" th:classappend="${home}">
                        <a class="nav-link" th:href="@{/home}">My courses</a>
                    </li>
                    <li class="nav-item" th:classappend="${students}">
                        <a class="nav-link" th:href="@{/students}">My students</a>
                    </li>
                    <li class="nav-item" th:classappend="${support}">
                        <a class="nav-link" th:href="@{/support}">Support</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="btn-solid-lg navSignUp" th:href="@{/register}"
                           th:text="${#authentication.getPrincipal().getFullName()}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--    <nav class="navbar navbar-light navbar-expand-lg px-5 py-3" style="font-size: 16px; background-color: #ededed;">-->
    <!--        <div class="container-fluid">-->
    <!--            <h3 style="margin-right: 15px;"><strong>GETTUP</strong></h3>-->
    <!--            <button aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation"-->
    <!--                    class="navbar-toggler"-->
    <!--                    data-bs-target="#navbarSupportedContent2" data-bs-toggle="collapse" type="button">-->
    <!--                <span class="navbar-toggler-icon"></span>-->
    <!--            </button>-->
    <!--            <div class="collapse navbar-collapse" id="navbarSupportedContent2">-->
    <!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
    <!--                    <li class="nav-item px-3" th:classappend="${home}">-->
    <!--                        <a class="nav-link" th:href="@{/home}"><b>My courses</b></a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item px-3" th:classappend="${students}">-->
    <!--                        <a class="nav-link" th:href="@{/students}"><b>My students</b></a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item px-3" th:classappend="${support}">-->
    <!--                        <a class="nav-link" th:href="@{/creator/support}"><b>Support</b></a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--                <ul class="navbar-nav me-0">-->
    <!--                    <li class="nav-item px-3 me-0">-->
    <!--                        <a class="nav-link" th:href="@{/profile}"-->
    <!--                           th:text="${#authentication.getPrincipal().getFullName()}"></a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item px-3 me-0">-->
    <!--                        <a class="btn btn-primary btn-sm" th:href="@{/logout}">Log out</a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </nav>-->
</div>

<div th:fragment="studentNavbar">
    <nav class="navbar navbar-light navbar-expand-lg px-5 py-3" style="font-size: 16px; background-color: #ededed;">
        <div class="container-fluid">
            <h3 style="margin-right: 15px;"><strong>GETTUP</strong></h3>
            <button aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent3" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3" th:classappend="${home}">
                        <a class="nav-link" th:href="@{/home}"><b>My courses</b></a>
                    </li>
                    <li class="nav-item px-3" th:classappend="${board}">
                        <a class="nav-link" th:href="@{/student/board}"><b>Leaderboard</b></a>
                    </li>
                    <li class="nav-item px-3" th:classappend="${support}">
                        <a class="nav-link" th:href="@{/student/support}"><b>Support</b></a>
                    </li>
                </ul>
                <ul class="navbar-nav me-0">
                    <li class="nav-item px-3 me-0">
                        <a class="nav-link" th:href="@{/profile}"
                           th:text="${#authentication.getPrincipal().getFullName()}"></a>
                    </li>
                    <li class="nav-item px-3 me-0">
                        <a class="btn btn-primary btn-sm" th:href="@{/logout}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <section class="footerSection" id="footer">
        <!-- Footer -->
        <footer class="text-white text-center text-md-center" style="background-color: rgba(255, 255, 255, 0.2);">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-start">
                        <h5 class="text-uppercase">Aslan</h5>

                        <p>
                            A modern distance e-learning management system, that allows you
                            to organize multi-format training.
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="">Useful Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-white text-decoration-none" href="#features">Features</a>
                            </li>
                            <li>
                                <a class="text-white text-decoration-none"
                                   href="#carouselExampleAutoplaying">Pricing</a>
                            </li>
                            <li>
                                <a class="text-white text-decoration-none" href="#about">About</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="mb-0">Contact us</h5>

                        <ul class="list-unstyled">
                            <li>
                                +7 747 907 13 03
                            </li>
                            <li>
                                +7 775 590 14 81
                            </li>
                            <li>
                                <a class="text-white text-decoration-none" href="#!">aspansupport@gmail.com</a>
                            </li>
                            <li>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-6">
                                        <img alt="" class="contactIcon" th:src="@{../static/img/instagram.png}">
                                        <img alt="" class="contactIcon" th:src="@{../static/img/telegram.png}">
                                        <img alt="" class="contactIcon" th:src="@{../static/img/facebook.png}">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </section>

    <script th:src="@{../static/js/bootstrap.min.js}"></script>
    <script th:src="@{../static/js/swiper.min.js}"></script>
    <script th:src="@{../static/js/purecounter.min.js}"></script>
    <script th:src="@{../static/js/replaceme.min.js}"></script>
    <script th:src="@{../static/js/scripts.js}"></script>
</div>

<div th:fragment="modal">
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" th:id="'modal' + ${course.id}">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Enroll for course</h1>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 100%; border: none">
                        <img alt="Course avatar"
                             class="card-img-top" style="border-bottom: 2px solid gray"
                             th:src="@{'data:image/jpeg;base64,'+${course.generateBase64Image()}}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getDescription()}"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" style="border-radius: 15px;"
                            type="button">Close
                    </button>
                    <form method="post" th:action="@{/enroll}">
                        <input style="float: right" th:name="courseId" th:value="${course.getId()}" type="hidden">
                        <input class="btn btn-primary course-btn" type="submit" value="Enroll">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>